
#tagsSelected_id mat-label {
  font-size: x-small;
}

#questionnairesSelected_id mat-label {
  font-size: x-small;
}
#statusSelected_id mat-label {
  font-size: x-small;
}

#tags_id mat-label {
  font-size: x-small;
}

#questionnaires_id mat-label {
  font-size: x-small;
}
#status_id mat-label {
  font-size: x-small;
}
