<app-sidenav-layout id="sidenav-layout"  title="Application" #layout  >
<app-page-layout>

  <!--  <div class="page-header" fxlayout fxlayout="column" fxLayout.xs="column" fxLayoutAlign="center center">-->
  <!--    <div fxFlex="80%" class="page-search"><input type="Text"></div>-->

  <!--    <button mat-icon-button (click)="filter=!filter;" matTooltip="{{'qcm.form.menu.filter' | translate}}">-->

  <!--      <mat-icon *ngIf="(questionStore.criteriaSize$ |async ) > 0"-->
  <!--                matBadge="{{(questionStore.criteriaSize$ |async )}}"-->
  <!--                matBadgeColor="warn"-->
  <!--                matBadgePosition="above after">filter_list-->
  <!--      </mat-icon>-->
  <!--      <mat-icon *ngIf="(questionStore.criteriaSize$ |async ) ==0">filter_list</mat-icon>-->
  <!--    </button>-->
  <!--  </div>-->

  <!--  start desktop fab -->
  <button fxShow.xs="false" id="replay-btn-selectable-list" mat-mini-fab (click)="list.refresh(true);" onclick="this.blur()"
          class="fab-bottom-up2"
          matTooltip="{{'qcm.selectable-list.menu.refresh' | translate}}">
    <mat-icon>replay</mat-icon>
  </button>

  <button fxShow.xs="false" toolbar-view mat-mini-fab (click)="toggleFilter()" class="fab-bottom-up1" onclick="this.blur()"
          color="primary"
          matTooltip="{{'qcm.questionnaire.menu.filter' | translate}}">

    <mat-icon *ngIf="(questionListStore.criteriaSize$ | async )>0"
              matBadge="{{questionListStore.criteriaSize$ | async}}" matBadgeColor="warn"
              matBadgePosition="above after">filter_list
    </mat-icon>
    <span></span>
    <mat-icon *ngIf="(questionListStore.criteriaSize$ | async)==0">filter_list</mat-icon>
  </button>

  <!--  create new-->
  <button id="add-btn-selectable-list" mat-fab (click)="list.onCreateElement($event)" color="primary" class="fab-bottom" onclick="this.blur()"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="filter">
    <mat-icon>add</mat-icon>
  </button>

  <!-- show list-->
  <button id="list-btn-selectable-list" mat-fab (click)="list.refresh(true);toggleFilter();" color="primary" onclick="this.blur()"
          class="fab-bottom"
          matTooltip="{{'qcm.selectable-list.menu.new' | translate }}" [hidden]="!filter">
    <mat-icon>list</mat-icon>
  </button>

  <!-- end desktop fab -->

  <!--    filtre -->
  <div fxLayout fxlayout="column" fxLayoutAlign="center center" fxLayout.xs="column" [hidden]="!filter">
     <span>
      <h1>{{'qcm.question.filtre.title' |translate }}</h1>
      ({{'qcm.question.filtre.found' | translate:{'nb': list.totalElements} }})
    </span>
  </div>

  <app-question-filter (updated)="list.refresh($event)"></app-question-filter>

<!--  <div *ngIf="filters.tags?.length > 0">{{'qcm.tag-select.title' | translate}}:-->
<!--    <mat-chip-list>-->
<!--      <mat-chip *ngFor="let tag of filters.tags "  selected="true"-->
<!--                (removed)="tagSelect.unSelectItem(tag);list.refresh(true);"  color="primary">{{tag.libelle}}-->
<!--        <mat-icon matChipRemove>cancel</mat-icon>-->
<!--      </mat-chip>-->
<!--    </mat-chip-list>-->
<!--  </div>-->

<!--  <div *ngIf="filters.questionnaires?.length > 0" >{{'qcm.questionnaire-select.title' | translate}}:-->
<!--    <mat-chip-list>-->
<!--      <mat-chip *ngFor="let questionnaire of filters.questionnaires "  selected="true"-->
<!--                (removed)="questionnaireSelect.unSelectItem(questionnaire) ;list.refresh(true);"  color="primary">{{questionnaire.title}}-->
<!--        <mat-icon matChipRemove>cancel</mat-icon>-->
<!--      </mat-chip>-->
<!--    </mat-chip-list>-->
<!--  </div>-->

<!--  <div  fxLayout fxLayoutAlign="center start" fxLayout="column" [hidden]="!filter">-->
<!--    <app-tag-select #tagSelect [showSelected]="false" (onSelected)="onSelectedTags($event)" [question]="true"></app-tag-select>-->
<!--  </div>-->
<!--  <div fxLayout fxLayoutAlign="center start" fxLayout="column" [hidden]="!filter">-->
<!--    <app-questionnaire-select #questionnaireSelect [showSelected]="false"  (onSelected)="onSelectedQuestionnaires($event)"></app-questionnaire-select>-->
<!--  </div>-->

  <!--  end  filtre -->


  <div fxlayout [hidden]="filter">

    <app-selectable-list #list [store]="questionListStore"
                         [sortBy]="'id'"
                         (created)="create()">

      <div toolbar-view style="display: flex;">
<!--        <span *ngIf="(questionListStore.selectedSize$ | async)> 0">{{questionListStore.selectedSize$ | async}}</span>-->
<!--         <span *ngIf="!list.isSelectedMode()"-->
<!--               style="align-items: center "> {{ "qcm.question.list.title" | translate}}</span>-->
<!--        <span *ngIf="list.isSelectedMode()"-->
<!--              style="align-items: center ">{{ "qcm.question.selected.title" | translate }}</span>-->
      </div>

<!--      <div toolbar-view class="spacer"></div>-->


      <!--  start mobile-->
      <button fxShow.gt-xs="false" mat-icon-button (click)="filter=!filter;" onclick="this.blur()"
              matTooltip="{{'qcm.form.menu.filter' | translate}}">
        <mat-icon *ngIf="(questionListStore.criteriaSize$ |async ) > 0"
                  matBadge="{{(questionListStore.criteriaSize$ |async )}}"
                  matBadgeColor="warn"
                  matBadgePosition="above after">filter_list
        </mat-icon>
        <mat-icon *ngIf="(questionListStore.criteriaSize$ |async ) ==0">filter_list</mat-icon>
      </button>
      <!-- end mobile-->

      <!-- add to questionnaire  -->
      <button id="addToQuestionnaireButtionId" mat-icon-button *ngIf="list.modeSelection$ |async" onclick="this.blur()"
              (click)="addToQuestionnaire(uuid,selected)" matTooltip="{{ 'qcm.question.list.addQuestionnaire' | translate}}"
              color="primary">
        <mat-icon>library_add</mat-icon>
      </button>

      <app-question-nav-list elements-view [elements$]="questionListStore.elements$"></app-question-nav-list>

      <app-question-nav-list selected-view [elements$]="questionListStore.selected$"></app-question-nav-list>

    </app-selectable-list>

  </div>

</app-page-layout>

</app-sidenav-layout>
