<p>status-select works!</p>


<mat-card class="mat-elevation-z0">
  <mat-chip-list   [selectable]="selectable" >
    <!--
    <mat-chip *ngFor="let s of  status" (click)="selectItem(tag)"
              [removable]="removable" [selectable] ="selectable" [value]="s" >
      {{tag.title}}
    </mat-chip>
    -->

    <!--<mat-chip *ngIf="nextLink" class='tag-cloud' (click)="next()">...</mat-chip>-->
    <!--<div *ngFor="let tag of  tags" >disabled:{{disabled}}/{{tag.name}}:{{tag.color}}:{{tag.selected}} / </div>-->
  </mat-chip-list>
</mat-card>
